Fluxos/Acompanhamentos_LAI.json
{
  "name": "Acompanhamentos LAI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {
              "triggerAtHour": 6
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -112
      ],
      "id": "84821a20-2508-42d8-b6d1-2fe4adb8fdf2",
      "name": "Agendamento"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "opt_fields": [
            "gid",
            "name",
            "created_at",
            "due_on"
          ],
          "project": "1206433618122341",
          "completed_since": "={{ $now }}"
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        -16,
        -112
      ],
      "id": "160c881f-e4d4-4b89-8d40-b43bb1ff9dfa",
      "name": "Obter Tarefas",
      "alwaysOutputData": true,
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "id": "1206433618122341"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        -208,
        -112
      ],
      "id": "9023e15b-ebe0-4203-a231-9bfb101f2357",
      "name": "Obter Projeto",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const due = item.json.due_on;\n\n  if (!due) {\n    item.json.dias_restantes = null;\n    item.json.classificacao = \"⚠️ Sem data limite\";\n    return item;\n  }\n\n  const hoje = new Date();\n  const dataLimite = new Date(due);\n\n  // Zera horas para evitar erro de fuso/horário\n  hoje.setHours(0, 0, 0, 0);\n  dataLimite.setHours(0, 0, 0, 0);\n\n  const diffMs = dataLimite - hoje;\n  const diasCorridos = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n\n  item.json.dias_restantes = diasCorridos;\n\n  if (diasCorridos < 0) {\n    item.json.classificacao = \"Vencidos\";\n  } else if (diasCorridos <= 10) {\n    item.json.classificacao = \"Até 10 dias\";\n  } else {\n    item.json.classificacao = \"Mais de 10 dias\";\n  }\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -112
      ],
      "id": "010ee590-04df-462a-ad2f-4eefeb144fc2",
      "name": "Cálculo de Dias"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "393f0df7-5556-41bb-a75b-4ae0a1db8f89",
                    "leftValue": "={{ $json.dias_restantes }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vencidos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c5173a81-6597-415e-99eb-c3865a313f08",
                    "leftValue": "={{ $json.dias_restantes }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mais de 10 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.dias_restantes }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "e73ae7d9-51da-49c0-8160-f15dfe9f113a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Até 10 dias"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        368,
        -128
      ],
      "id": "32f3a05a-5950-4641-94d5-d696f8b2945c",
      "name": "Conferência Prazos"
    },
    {
      "parameters": {
        "operation": "move",
        "id": "={{ $json.gid }}",
        "projectId": "1206433618122341",
        "section": "1206764708956571"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        816,
        -288
      ],
      "id": "d50d786b-3b16-4d2a-a45c-e14de012ea7e",
      "name": "Vencidas",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "id": "={{ $json.gid }}",
        "projectId": "1206433618122341",
        "section": "1206764708956570"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        816,
        -112
      ],
      "id": "cbdb3469-24b5-44a3-a40a-707dbe96b042",
      "name": "Mais de 10 dias",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "id": "={{ $json.gid }}",
        "projectId": "1206433618122341",
        "section": "1206433618122342"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        816,
        80
      ],
      "id": "c111bd63-4225-471e-ac04-b50ff081290e",
      "name": "Até 10 dias",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Agendamento": {
      "main": [
        [
          {
            "node": "Obter Projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Tarefas": {
      "main": [
        [
          {
            "node": "Cálculo de Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Projeto": {
      "main": [
        [
          {
            "node": "Obter Tarefas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cálculo de Dias": {
      "main": [
        [
          {
            "node": "Conferência Prazos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conferência Prazos": {
      "main": [
        [
          {
            "node": "Vencidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mais de 10 dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Até 10 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e372ee8b-f5f0-4d8b-9580-1d4adcf634a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef353e2fae1e3a74e3fb0c0a278961d7aebebe6d7254d908bf028daef28df764"
  },
  "id": "wQ75dy8ngpxEXSqA",
  "tags": [
    {
      "updatedAt": "2025-12-24T19:32:55.500Z",
      "createdAt": "2025-12-24T19:32:55.500Z",
      "id": "ak0PBJZ7sHx9o2Ry",
      "name": "Asana"
    }
  ]
}