Fluxos/Acompanhamentos_LAI.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {
              "triggerAtHour": 6
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -112
      ],
      "id": "84821a20-2508-42d8-b6d1-2fe4adb8fdf2",
      "name": "Agendamento"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "opt_fields": [
            "gid",
            "name"
          ],
          "project": "1206433618122341",
          "completed_since": "={{ $now }}"
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        -16,
        -112
      ],
      "id": "160c881f-e4d4-4b89-8d40-b43bb1ff9dfa",
      "name": "Obter Tarefas",
      "alwaysOutputData": false,
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const nomeSub = item.json.name.trim();\n  const notas = item.json.notes || \"\";\n  const parentGid = item.json.parent ? item.json.parent.gid : null;\n\n  // 1. Processar Subtarefa de Abertura (Movimentação por \"Idade\")\n  if (nomeSub.includes(\"Abertura\") && parentGid) {\n    // Converte \"21/01/2026 às 21:51\" para \"2026-01-21T21:51:00\"\n    const partes = notas.split(/[\\/\\sàs:]+/);\n    if (partes.length >= 5) {\n      const dataFormatada = `${partes[2]}-${partes[1]}-${partes[0]}T${partes[3]}:${partes[4]}:00`;\n      const dataAbertura = new Date(dataFormatada);\n      const agora = new Date();\n\n      if (!isNaN(dataAbertura.getTime())) {\n        const diffMs = agora - dataAbertura;\n        const diasExatos = diffMs / (1000 * 60 * 60 * 24);\n\n        item.json.gid = parentGid; // ID da tarefa PAI para mover o card\n        item.json.dias_calculados = diasExatos;\n        \n        // Regra: Superou 10 dias, 23h, 59min (ou seja, 11.0 dias)\n        if (diasExatos >= 11) {\n          item.json.classificacao = \"Mais de 10 dias\";\n        } else {\n          item.json.classificacao = \"Até 10 dias\";\n        }\n        return item;\n      }\n    }\n  }\n\n  // 2. Processar Subtarefa de Encerramento (Verificação de Vencimento)\n  // Nota: Como o n8n processa item por item, o Switch vai separar \n  // os resultados. O card pai moverá para \"Vencido\" se este item passar.\n  if (nomeSub.toLowerCase().includes(\"encerr\") && parentGid) {\n    const partesEnc = notas.split(\"/\");\n    if (partesEnc.length === 3) {\n      // Define o vencimento para o final do dia (23:59:59)\n      const dataVencimento = new Date(`${partesEnc[2]}-${partesEnc[1]}-${partesEnc[0]}T23:59:59`);\n      const agora = new Date();\n\n      if (agora > dataVencimento) {\n        item.json.gid = parentGid;\n        item.json.classificacao = \"Vencidos\";\n        return item;\n      }\n    }\n  }\n\n  return null; \n}).filter(item => item !== null);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -112
      ],
      "id": "010ee590-04df-462a-ad2f-4eefeb144fc2",
      "name": "Cálculo de Dias"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "393f0df7-5556-41bb-a75b-4ae0a1db8f89",
                    "leftValue": "={{ $json.classificacao }}",
                    "rightValue": "Vencidos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vencidos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c5173a81-6597-415e-99eb-c3865a313f08",
                    "leftValue": "={{ $json.classificacao }}",
                    "rightValue": "Mais de 10 dias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mais de 10 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classificacao }}",
                    "rightValue": "Até 10 dias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e73ae7d9-51da-49c0-8160-f15dfe9f113a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Até 10 dias"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        576,
        -128
      ],
      "id": "32f3a05a-5950-4641-94d5-d696f8b2945c",
      "name": "Conferência Prazos"
    },
    {
      "parameters": {
        "operation": "move",
        "id": "={{ $json.gid }}",
        "projectId": "1206433618122341",
        "section": "1206764708956571"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        1024,
        -288
      ],
      "id": "d50d786b-3b16-4d2a-a45c-e14de012ea7e",
      "name": "Vencidas",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "id": "={{ $json.gid }}",
        "projectId": "1206433618122341",
        "section": "1206764708956570"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        1024,
        -112
      ],
      "id": "cbdb3469-24b5-44a3-a40a-707dbe96b042",
      "name": "Mais de 10 dias",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "id": "={{ $json.gid }}",
        "projectId": "1206433618122341",
        "section": "1206433618122342"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        1024,
        80
      ],
      "id": "c111bd63-4225-471e-ac04-b50ff081290e",
      "name": "Até 10 dias",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    },
    {
      "parameters": {
        "resource": "subtask",
        "operation": "getAll",
        "taskId": "={{ $json.gid }}",
        "returnAll": true,
        "options": {
          "opt_fields": [
            "gid",
            "name",
            "parent",
            "notes"
          ]
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        192,
        -112
      ],
      "id": "af09c2bc-b1f6-4c83-a311-c9d862b34527",
      "name": "Obter Subtarefas",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "id": "1206433618122341"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        -208,
        -112
      ],
      "id": "9023e15b-ebe0-4203-a231-9bfb101f2357",
      "name": "Selecionar Projeto",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana - Vinícios"
        }
      }
    }
  ],
  "connections": {
    "Agendamento": {
      "main": [
        [
          {
            "node": "Selecionar Projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Tarefas": {
      "main": [
        [
          {
            "node": "Obter Subtarefas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cálculo de Dias": {
      "main": [
        [
          {
            "node": "Conferência Prazos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conferência Prazos": {
      "main": [
        [
          {
            "node": "Vencidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mais de 10 dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Até 10 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Subtarefas": {
      "main": [
        [
          {
            "node": "Cálculo de Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Projeto": {
      "main": [
        [
          {
            "node": "Obter Tarefas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef353e2fae1e3a74e3fb0c0a278961d7aebebe6d7254d908bf028daef28df764"
  }
}