Fluxos/Acompanhamentos_LAI.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "opt_fields": [
            "gid",
            "name"
          ],
          "project": "1206433618122341",
          "completed_since": "={{ $now }}"
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        48,
        -96
      ],
      "id": "160c881f-e4d4-4b89-8d40-b43bb1ff9dfa",
      "name": "Obter Tarefas",
      "alwaysOutputData": false,
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana Personal"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tarefasAgrupadas = {};\n\n// 1. Agrupar subtarefas pelo ID do cartão principal\nfor (const item of items) {\n  const parentGid = item.json.parent ? item.json.parent.gid : null;\n  if (!parentGid) continue;\n\n  if (!tarefasAgrupadas[parentGid]) {\n    tarefasAgrupadas[parentGid] = { \n      gid: parentGid, \n      abertura: null, \n      encerramento: null \n    };\n  }\n\n  const nome = item.json.name.toLowerCase();\n  if (nome.includes(\"abertura\")) {\n    tarefasAgrupadas[parentGid].abertura = item.json.notes;\n  } else if (nome.includes(\"encerr\")) {\n    tarefasAgrupadas[parentGid].encerramento = item.json.notes;\n  }\n}\n\n// 2. Definir classificação para movimentação do cartão\nconst resultadoFinal = [];\n\nfor (const gid in tarefasAgrupadas) {\n  const dados = tarefasAgrupadas[gid];\n  let classificacao = \"Até 10 dias\"; // Padrão\n\n  // Checar data de Vencimento da Tarefa (Prioridade Máxima)\n  if (dados.encerramento) {\n    const p = dados.encerramento.split(\"/\");\n    const dataVenc = new Date(`${p[2]}-${p[1]}-${p[0]}T23:59:59`);\n    if (new Date() > dataVenc) {\n      classificacao = \"Vencidos\";\n    }\n  }\n\n  // Se não estiver vencido, checar prazos para definir classificação\n  if (classificacao !== \"Vencidos\" && dados.abertura) {\n    const p = dados.abertura.split(/[\\/\\sàs:]+/);\n    const dataAbertura = new Date(`${p[2]}-${p[1]}-${p[0]}T${p[3]}:${p[4]}:00`);\n    const dias = (new Date() - dataAbertura) / (1000 * 60 * 60 * 24);\n    \n    if (dias >= 11) {\n      classificacao = \"Mais de 10 dias\";\n    }\n  }\n\n  resultadoFinal.push({\n    json: {\n      gid: gid,\n      classificacao: classificacao\n    }\n  });\n}\n\nreturn resultadoFinal;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -96
      ],
      "id": "010ee590-04df-462a-ad2f-4eefeb144fc2",
      "name": "Cálculo de Dias"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "393f0df7-5556-41bb-a75b-4ae0a1db8f89",
                    "leftValue": "={{ $json.classificacao }}",
                    "rightValue": "Vencidos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vencidos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c5173a81-6597-415e-99eb-c3865a313f08",
                    "leftValue": "={{ $json.classificacao }}",
                    "rightValue": "Mais de 10 dias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mais de 10 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classificacao }}",
                    "rightValue": "Até 10 dias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e73ae7d9-51da-49c0-8160-f15dfe9f113a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Até 10 dias"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        720,
        -112
      ],
      "id": "32f3a05a-5950-4641-94d5-d696f8b2945c",
      "name": "Conferência Prazos"
    },
    {
      "parameters": {
        "operation": "move",
        "id": "={{ $json.gid }}",
        "projectId": "1206433618122341",
        "section": "1206764708956571"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        944,
        -288
      ],
      "id": "d50d786b-3b16-4d2a-a45c-e14de012ea7e",
      "name": "Vencidas",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana Personal"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "id": "={{ $json.gid }}",
        "projectId": "1206433618122341",
        "section": "1206764708956570"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        944,
        -96
      ],
      "id": "cbdb3469-24b5-44a3-a40a-707dbe96b042",
      "name": "Mais de 10 dias",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana Personal"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "id": "={{ $json.gid }}",
        "projectId": "1206433618122341",
        "section": "1206433618122342"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        944,
        96
      ],
      "id": "c111bd63-4225-471e-ac04-b50ff081290e",
      "name": "Até 10 dias",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana Personal"
        }
      }
    },
    {
      "parameters": {
        "resource": "subtask",
        "operation": "getAll",
        "taskId": "={{ $json.gid }}",
        "returnAll": true,
        "options": {
          "opt_fields": [
            "gid",
            "name",
            "parent",
            "notes"
          ]
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        272,
        -96
      ],
      "id": "af09c2bc-b1f6-4c83-a311-c9d862b34527",
      "name": "Obter Subtarefas",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana Personal"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "id": "1206433618122341"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        -176,
        -96
      ],
      "id": "9023e15b-ebe0-4203-a231-9bfb101f2357",
      "name": "Selecionar Projeto",
      "credentials": {
        "asanaApi": {
          "id": "NsSVQ9nD39f9UBet",
          "name": "Asana Personal"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        -96
      ],
      "id": "84821a20-2508-42d8-b6d1-2fe4adb8fdf2",
      "name": "Atualização Agendada"
    }
  ],
  "connections": {
    "Obter Tarefas": {
      "main": [
        [
          {
            "node": "Obter Subtarefas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cálculo de Dias": {
      "main": [
        [
          {
            "node": "Conferência Prazos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conferência Prazos": {
      "main": [
        [
          {
            "node": "Vencidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mais de 10 dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Até 10 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Subtarefas": {
      "main": [
        [
          {
            "node": "Cálculo de Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Projeto": {
      "main": [
        [
          {
            "node": "Obter Tarefas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualização Agendada": {
      "main": [
        [
          {
            "node": "Selecionar Projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef353e2fae1e3a74e3fb0c0a278961d7aebebe6d7254d908bf028daef28df764"
  }
}